@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-20 text-secondary-40 font-monospace;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 1.5rem;
  }

  ::-webkit-scrollbar-track {
    background-color: #011627;
    margin-block: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(210, 22%, 48%);
    border: 0.25rem solid #011627;
  }
}

@layer components {
  .nav-link {
    @apply py-4 px-6 text-labels text-secondary-10;
  }

  .nav-link__active {
    @apply py-4 px-6 text-labels text-secondary-40 border-b-2 border-accent-10;
  }

  .bg-green {
    position: absolute;
    z-index: 10;
    width: 6rem;
    height: 6rem;
    background-color: #43d9ad;
    filter: blur(5rem);
    animation: greenMove 10s infinite;
  }

  .bg-blue {
    /* clip-path: ellipse(49% 35% at 50% 50%); */
    position: absolute;
    z-index: 10;
    width: 6rem;
    height: 6rem;
    background-color: #4d5bce;
    filter: blur(5rem);
    animation: blueMove 10s infinite;
  }

  /* code editor */
  .experience-code pre code {
    @apply bg-primary-30 rounded-2xl border border-lines-10 overflow-y-hidden text-code text-secondary-10;
  }

  .experience-code pre code::-webkit-scrollbar {
    @apply h-4;
  }

  .experience-code pre code::-webkit-scrollbar-track {
    @apply bg-primary-30 rounded-2xl;
  }

  .experience-code pre code::-webkit-scrollbar-thumb {
    @apply rounded-2xl;
  }

  .personal-tab::-webkit-scrollbar {
    @apply h-0;
  }

  /* Animation Bg Circle */
  @keyframes greenMove {
    0% {
      left: 60%;
      top: 20%;
      transform: scale(1);
    }
    25% {
      left: 50%;
      top: 45%;
      transform: scale(0.75);
    }
    50% {
      left: 85%;
      top: 70%;
      transform: scale(0.8);
    }
    100% {
      left: 60%;
      top: 20%;
      transform: scale(1);
    }
  }

  @keyframes blueMove {
    0% {
      left: 60%;
      top: 80%;
      transform: scale(1);
    }
    25% {
      left: 80%;
      top: 20%;
      transform: scale(0.8);
    }
    50% {
      left: 80%;
      top: 60%;
      transform: scale(1.2);
    }
    100% {
      left: 60%;
      top: 80%;
      transform: scale(1);
    }
  }
}
